.blob-one {
  border: solid 2px #f92c85;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background-color: transparent;
  animation: blob-one 10s linear 0s infinite;
}

@keyframes blob-one {
  0%   {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
  25%  {border-radius: 70% 30% 32% 68% / 30% 30% 70% 70%;}
  50%  {border-radius: 50% 50% 32% 68% / 55% 24% 76% 45%;}
  75%  {border-radius: 28% 72% 57% 43% / 79% 24% 76% 21%;}
  100% {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
}

.blob-two {
  border: solid 2px #f92c85;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background-color: transparent;
  animation: blob-two 10s linear 0s infinite;
}

@keyframes blob-two {
  0%   {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
  25%  {border-radius: 80% 30% 32% 68% / 30% 30% 80% 70%;}
  50%  {border-radius: 90% 50% 32% 68% / 55% 74% 76% 45%;}
  75%  {border-radius: 58% 72% 57% 43% / 79% 54% 36% 21%;}
  100% {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
}

